#cover {
    background-image: url("../img/mariocover-01.png");
    background-size: cover;
    height: 700px;
}

.container {
    text-align: center;
    padding-bottom: 2em;
}

.desc {
    width: 60%;
    margin: auto;
    padding: 1em;
}

img {
    width: 700px;
    height: 400px;
}